<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hello.login">

    <!--course中需要使用的权限-->
    <!--解决权限问题-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />




    <!-- 权限声明 -->
    <!-- 访问网络状态-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="hello.chat.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="hello.chat_new.permission.RECEIVE_MSG"/>


    <application
        android:name="org.cqu.application.NimApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--android:theme="@style/LightBaseActionBarTheme">-->


        <!-- APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
       如果 SDKOptions 中提供了，取 SDKOptions 中的值。 -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="afd5ce6e139f924a5272b8dd15b45f10" />

        <!-- 声明云信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"/>

        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core"/>

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程 -->
        <receiver android:name="com.netease.nimlib.service.NimReceiver"
            android:process=":core"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>


        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        <!-- 安卓保活配置 -->
        <!--<service-->
            <!--android:name="com.netease.cosine.core.CosineService"-->
            <!--android:process=":cosine">-->
        <!--</service>-->

        <!--<receiver-->
            <!--android:name="com.netease.cosine.target.CosineReceiver"-->
            <!--android:exported="true"-->
            <!--android:process=":cosine">-->
        <!--</receiver>-->

        <meta-data
            android:name="com.netease.cosine.target"
            android:value=""/>
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver"/>





        <!-- 主界面 -->
        <activity
            android:name="main.activity.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 多端登录管理 -->
        <activity
            android:name="main.activity.MultiportActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LightBaseActionBarTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>



        <!-- 关于 -->
        <activity
            android:name="main.activity.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/OverlayBaseActionBarTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activityt
            android:name="main.activity.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LightBaseActionBarTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>


        <activity
            android:name="main.activity.NoDisturbActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LightBaseActionBarTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>


        <activity
            android:name="main.activity.EditNicknameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LightBaseActionBarTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name="main.activity.SystemMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name="main.activity.CustomNotificationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="stateHidden|adjustResize"/>



        <activity
            android:name="main.activity.TeamListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/LightBaseActionBarTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <!-- 全局搜索 -->
        <activity
            android:name="main.activity.GlobalSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/global_search_bg"
            android:windowSoftInputMode="stateUnspecified"/>


        <!-- 添加好友-->
        <activity
            android:name="contact.activity.AddFriendActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

'
        <!-- 设置-->
        <activity
            android:name="main.activity.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!-- 用户的信息-->
        <activity
            android:name="contact.activity.UserProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name="contact.activity.UserProfileSettingActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name="contact.activity.UserProfileEditItemActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>



        <!-- 导航页 -->
        <activity
            android:name="course.activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeEntranceActionBarTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity>



        <!-- 登录界面-->
        <activity
            android:name="course.activity.CourseLoginActivity"
            >

        </activity>

        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->



        <activity android:name="course.activity.SpecificCourseHelpActivity"></activity>

        <activity android:name="course.activity.CourseMainActivity"></activity>

        <activity android:name="course.activity.QuestionSearchActivity"></activity>

        <activity android:name="course.activity.AddQuestionActivity"></activity>

        <activity android:name="course.activity.SpecificCourseActivity"></activity>

        <activity android:name="course.activity.CourseBoardActivity"></activity>

        <activity android:name="course.activity.CourseSignActivity"></activity>

        <activity android:name="course.activity.SpecificQuestionWithAnsActivity"></activity>

        <activity android:name="course.activity.SpecificAnswerActivity"></activity>

        <activity android:name="course.activity.AddAnswerActivity"></activity>

        <activity android:name="course.activity.AddAnswerCommentActivity"></activity>

        <activity
            android:name="course.activity.RelateToMeActivity"></activity>

        <activity android:name="course.activity.InviteOtherToAnswerActivity"></activity>

        <activity android:name="course.activity.MyCollectedActivity"></activity>

        <activity android:name="course.activity.MyAnswerActivity"></activity>

        <activity android:name="course.activity.MyQuestionActivity"></activity>

        <activity android:name="course.activity.SettingActivity"></activity>

        <activity android:name="course.activity.CourseSignTeacherActivity"></activity>

        <activity android:name="course.activity.CourseSignStudentActivity"></activity>








        <!-- cosine target SDK integrated -->
        <meta-data
            android:name="com.netease.cosine.target"
            android:value=""/>
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver"/>


    </application>

</manifest>
